body {
    background-image: url("../images/restaurant_icons.png");
    font-family: 'Muli', sans-serif;
}

.jumbotron {
    background-color: paleturquoise;
}

.cal-wrap {
    float: left;
}

.btn-group {
    width: 60%;
}

.display {
    border: solid 1px black; 
    width: 40%;
    height: inherit;
    margin: 0px 0px 4px 0px;
}

input {
    display: inline-block;
    width: 50%;
    background-color: rgba(0,0,0,0.1);
    border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn {
    font-size: 1.5em;
    margin: 0px 4px 4px 0px;
    padding: 20px;
}

h5 {
    position: relative;
    top: 22px;
}

#total:invalid {
    color: red; 
}
